<section class="section contact" id="contact">
  <h2 class="section__heading contact__heading">
    Where to catch me?
  </h2>

  <ul class="contact__list">
    <li class="contact__element">
      <a href="mailto:ReksetoAjxer@gmail.com"><img class="contact__image" src="/assets/email.svg" alt="Email me" /></a>
    </li>
    <li class="contact__element">
      <a href="https://www.facebook.com/profile.php?id=100009781653631"><img class="contact__image" src="/assets/fb.svg"
          alt="" /></a>
    </li>
    <li class="contact__element">
      <a href="https://github.com/Rekseto"><img class="contact__image" src="/assets/gh.svg" alt="" /></a>
    </li>
  </ul>
</section>