<section class="section projects" id="projects">
  <article class="projects__project">
    <div>
      <h3 class="project__heading">Libros</h3>

      <p class="project_desc">Library system created for my school</p>
    </div>

    <ul class="project__technologies">
      <li class="project__technology">React</li>
      <li class="project__technology">Node.js</li>
      <li class="project__technology">Koa</li>
      <li class="project__technology">MongoDB</li>
    </ul>
  </article>

  <article class="projects__project">
    <div>
      <h3 class="project__heading">Chatti</h3>

      <p class="project_desc">
        Simple chat website created using Firebase
      </p>
      <a class="project__source" href="https://github.com/Rekseto/Chatti">Source</a>
    </div>

    <ul class="project__technologies">
      <li class="project__technology">React</li>
      <li class="project__technology">Redux</li>
      <li class="project__technology">Redux-Saga</li>
      <li class="project__technology">Firebase</li>
    </ul>
  </article>


  <article class="projects__project">
    <div>
      <h3 class="project__heading">inra-http-boilerplate</h3>

      <p class="project_desc">Boilerplate for using inra-http</p>
      <a class="project__source" href="https://github.com/project-inra/inra-http-boilerplate">Source</a>
    </div>

    <ul class="project__technologies">
      <li class="project__technology">JavaScript</li>
      <li class="project__technology">Koa</li>
      <li class="project__technology">Mongoose</li>
    </ul>
  </article>
</section>