<header class="header">
  <div class="motto">
    <img class="header__logo" src="/assets/logo.svg" alt="" />
    <h1 class="header__heading">Rekseto</h1>
    <p class="header_desc">Passionate Full-Stack Developer</p>
  </div>

  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__element">
        <a href="/#projects" class="navigation__link">Projects</a>
      </li>
      <li class="navigation__element">
        <a href="/#contact" class="navigation__link">Contact</a>
      </li>
      <li class="navigation__element">
        <a href="/blog" class="navigation__link">Blog</a>
      </li>
    </ul>
  </nav>
</header>