<header class="postSiteHeader">
  <h1 class="postSiteHeader__heading"> <a class="postSiteHeader__link" href="/"><img class="postSiteHeader__logo" src="/assets/logo_white.svg"
        alt="">Rekseto</a>
  </h1>
  <nav class="postSiteNavigation">
    <ul class="postSiteNavigation__list">
      <li class="postSiteNavigation__element"><a href="/#projects" class="postSiteNavigation__link">Projects</a></li>
      <li class="postSiteNavigation__element"><a href="/#contact" class="postSiteNavigation__link">Contact</a></li>
      <li class="postSiteNavigation__element"><a href="/blog" class="postSiteNavigation__link">Blog</a></li>
    </ul>
  </nav>
</header>