---
layout: post
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">

{% include head.html %}
<style>
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.4em;

  }

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.3em;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.2em;
  }

  .highlighter-rouge {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .hljs {
    border-radius: 4px;
  }

  .footer {
    margin-top: 50px;
  }
</style>

<body>
  {% include navigation.html %}
  <main class="main">
    <article class="post" typeof="BlogPosting">

      <header class="post__header">
        <h1 class="post__title" property="name headline">{{ page.title | escape }}</h1>
        <p class="post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" property="datePublished">{{
            page.date
            |
            date: "%d-%m-%Y" }}</time>{% if page.author %} • <span property="author" typeof="Person"><span property="name">{{
              page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="post__content" property="articleBody">
        {{ content }}
      </div>
    </article>
  </main>

  {% include sections/footer.html %}
  {% include resources.html %}
</body>

</html>